.STYLE1 {
	color: #006699;
	font-size: xx-large;
}
.STYLE2 {color: #FF3300}
.STYLE4 {color: #FF0000}
.STYLE6 {color: #FF0000; font-size: 18pt; }
.STYLE8 {font-size: 18pt}
//body {padding: 16px; text-align: center;}
input {margin: 4px;}